

<nav>
    <div class="container nav-container">
        <a class="navbar-brand" href="#index.html">ADMIN</a>
        <ul class="nav-menu">
            <li><a href="/">HOME</a></li>
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/admin">ALL PRODUCTS</a></li>
            <li><a href="/all-users">USERS</a></li>
        </ul>
        <button id="open-menu-btn"><img src="/icons/menu-black.png" alt="" srcset=""></button>
        <button id="close-menu-btn"><img src="/icons/close-black.png" alt=""></button>
    </div>
</nav>